.new-filter-btn {
  margin: 0px 5px 7px 5px;
}

.filter-name-button {
  margin-left: 5px;
}

.filter-options-slider-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-options-slider {
  width: 50%;
}

.selected-filter {
  outline: $mdc-theme-secondary solid 2px;
}

.filter-options-colorPicker-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}