@import 'smui-theme.scss';
@import 'filters.scss';
@import 'filterOptions.scss';

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    background-size: 25px 25px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

.logo {
    color: $mdc-theme-surface;
}

.main-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.flex-center {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}